body {
	font-family:"Arial Black";
	background:#ffffff;
	
}

#startQuiz{
	width : 550px !important;
	margin: 0 auto !important;
	position: relative !important;
	border-right: 5px #666 outset !important;
	border-left:  5px #666 outset !important;
}

	

#title{
	padding:20px;
	text-align: center;
	font-size: 36px;
	background:greenyellow;
	text-transform:uppercase;
	color:black;
}

#question{
	padding:25px;
	font-size:20px;
	width:auto;
	background:darkgreen;
	margin:10px 0 10px 0 ;
	color:white;
	border: .2em solid black;
}



#startButton{
	border:none;
	background:yellowgreen;
	width:180px;
	height:35px;
	float:right;
	margin:0 10px 0 0;
	color:black;
	
	 
}

h2{
	text-transform:uppercase;
	color:black;
}


#startButton:hover{
	background:lightgreen;
}




#nextButton{
	border:none;
	background:yellowgreen;
	width:90px;
	height:35px;
	float:right;
	margin:0 10px 0 0;
	color:black;
	
	 
}




#nextButton:hover{
	background:lightgreen;
}

#result{
	height:auto;
	text-align:center;
	font-size:30px;
}

p{
	position:absolute;
    bottom:0;
    text-align:center;
	
}



#restartButton{
	border:none;
	background:yellowgreen;
	font-size: 30px;
	color:black;
	
	 
}




#restartButton:hover{
	background:lightgreen;
}
